body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background: grey;
}

figcaption {
  font-size: small;
}


p#featured-property {
  width: 800px;
  text-align: center;
}

div #details {
  display: block;
  float: left;
}
